@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-color: #323238;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);

  display: grid;
  height: 100vh;
}

main {
  align-self: center;
  justify-self: center;

  display: flex;
  gap: 20rem;
}

.hide {
  display: none;
}

.timer {
  display: grid;
  place-content: center;
}

.time {
  font-size: 12rem;
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

button {
  border: none;
  background: none;

  cursor: pointer;
}

.sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.sounds .card {
  background: #e1e1e6;
  border-radius: 2.4rem;

  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 15.2rem;
  cursor: pointer;
}

.sounds .sound-forest-stop .card {
  background: #127369;
}

.sounds .sound-rain-stop .card {
  background: #02799D;
}

.sounds .sound-coffee-machine-stop .card {
  background: #8C6249;
}

.sounds .sound-fireplace-stop .card {
  background: #F2A30F;
}

.sounds .card input {
  appearance: none;

  width: 9rem;
  height: 0.4rem;

  background-color: #323238;
  border-radius: 9999px;
}

.sounds .card input::-webkit-slider-thumb {
  appearance: none;

  width: 1.6rem;
  height: 1.6rem;

  background-color: #323238;
  border-radius: 50%;
  cursor: pointer;
}

.sound-forest-stop,
.sound-rain-stop,
.sound-coffee-machine-stop,
.sound-fireplace-stop {
  animation: side-to-front 700ms ease-in-out;
}

@keyframes side-to-front {
  0% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
